<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Autoasignación de proyectos</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/login.js"></script>
    
    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>

    <h1>Autoasignación de proyectos</h1>
    
    <h2>Login</h2>
    <form method="post" action="/login">
      <fieldset>
        <legend>
          Datos
        </legend>
      <label for="txtEmail">Email</label>
      <input required type="email" id="txtEmail" name="txtEmail">

      <label for="txtClave">Clave</label>
      <input required maxlength="8" minlength="4" type="password" id="txtClave" name="txtClave">
      <br>
      <button>Acceder</button>
      </fieldset>

    </form>
    <p>
      Si no tienes una cuenta <a href="/registro">créala ahora</a>.
    </p>
  </body>
</html>
