input[type=text]:read-only {
  background-color: var(--disabled);
}

.oculto{
  display:none;
}

div.pregunta{
  outline: 1px solid var(--border);
  padding:0.5rem;
  background-color: var(--accent-bg);
  margin-bottom: 1rem;
}

p.pregunta > strong {
  color: var(--accent)
}
div.pregunta > select{
  border: 1px solid var(--accent);
}