<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autoasignación de proyectos</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    
    <link rel="stylesheet" href="/style.css">
    <script defer src="/principalAdmin.js"></script>
    
    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>

    <h1>Autoasignación de proyectos</h1>
    
    <p id="pNombre">Bienvenido, desconocido</p>
    
    <!-- <form>
      <fieldset>
        <legend>Seleccionar curso</legend>        
        <label for="txtCurso">Curso</label>
        <select name="txtCurso" id="txtCurso"></select>
      </fieldset>
    </form> -->


    <h2>Crear proyecto</h2>
    <form method="post" action="/crearProyecto">
      <fieldset>
        <legend>Crear proyecto</legend>
      
        <label for="txtNombreProyecto">Nombre</label>
        <input type="text" name="txtNombreProyecto" id="txtNombreProyecto">
        <br>
        <button>Crear proyecto</button>
      </fieldset>
    </form>

    
  
    
  </body>
</html>
