<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autoasignación de proyectos</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    
    <link rel="stylesheet" href="/style.css">
    <script src="/registro.js" defer></script>
    
    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>

    <h1>Autoasignación de proyectos</h1>
    
    <h2>Registro</h2>

    <p>Crea tu cuenta indicando los datos necesarios.</p>
    
    <p>Es <strong>muy importante</strong> que indiques tu nombre y dos apellidos. 
      Estos datos se utilizarán para poder puntuar tus proyectos.</p>

    <form method="post" action="/crearAlumno">
      <fieldset>
        <legend>
          Datos
        </legend>
      <label for="txtEmail">Email</label>
      <input required type="email" id="txtEmail" name="txtEmail">

      <label for="txtNombre">Nombre completo</label>
      <input required type="text" id="txtNombre" name="txtNombre">

      <label for="txtClave">Clave (entre 4 y 8 caracteres)</label>
      <input required maxlength="8" minlength="4" type="password" id="txtClave" name="txtClave">

      <label for="txtClave2">Repite la clave</label>
      <input required maxlength="8" minlength="4" type="password" id="txtClave2" name="txtClave2">

      <br>
      <button>Crear cuenta</button>
      </fieldset>

    </form>
    <p>
      Si ya tienes una cuenta <a href="/">accede ahora</a>.
    </p>
  </body>
</html>
